.fadeOut{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.list-group-item small{
    float:right;
}

.params-container .removeButton{
    display:none !important;
}